[Unit]
Description=RDC Jetson WiFi Hotspot & Web UI Service
After=NetworkManager.service
Wants=NetworkManager.service

[Service]
Type=simple
WorkingDirectory=/home/blob/Documents/jetson/router
ExecStart=/home/blob/Documents/jetson/router/venv/bin/python /home/blob/Documents/jetson/router/setup_router.py
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
